<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ghiras</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
</head>
<body class="bg-green-50 text-gray-800">

  <header class="text-center py-2">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Project Logo" 
         class="mx-auto w-96 mb-2" />
  </header>
  
  


  <!-- Boxes -->
  <section class="grid grid-cols-1 md:grid-cols-3 gap-8 px-6 max-w-6xl mx-auto mb-8">

    <!-- Box 1 -->
  <a href="http://127.0.0.1:5000" target="_blank"
  class="bg-white shadow-lg rounded-3xl p-8 flex items-center justify-center text-center hover:bg-green-100 transition duration-300 ease-in-out">
  <h2 class="text-3xl font-bold italic text-green-700">
    Device Status Monitor
  </h2>
  </a>

<!-- Box 2 -->
  <a href="/condition" target="_blank" 
  class="bg-white shadow-lg rounded-3xl p-8 flex items-center justify-center text-center hover:bg-green-100 transition duration-300 ease-in-out">
  <h2 class="text-3xl font-bold italic text-green-700">
    Plant Health Overview
  </h2>
  </a>

   <!-- Box 3 -->
  <a href="{{ url_for('show_plants') }}" target="_blank"
  class="bg-white shadow-lg rounded-3xl p-8 flex items-center justify-center text-center hover:bg-green-100 transition duration-300 ease-in-out">
  <h2 class="text-3xl font-bold italic text-green-700">
  Plant Recommendations</h2>
  </a>

  </section>
 <!-- Footer -->
<footer class="bg-white w-full py-8 px-6 text-center mt-20">
  <h3 class="text-2xl font-bold text-green-700 mb-4">Contact Us</h3>
  <div class="space-y-2">
    <p class="text-lg text-gray-700">
      Email: <a href="mailto:ghiras.saudi@gmail.com" class="text-green-600 hover:underline">
        ghiras.saudi@gmail.com
      </a>
    </p>
    <p class="text-lg text-gray-700">
      Phone: 0558165619
    </p>
  </div>
</footer>

</body>
</html>
